.container {
  width: 100%;
}
table {
  width: 100%;
  border-collapse: collapse;
  position: relative;
  overflow: hidden;
}
td,
th {
  padding: 10px;
  height: 100px;
}
.user-info {
  background-color: aqua;
}
.extra-info {
  position: relative;
}
.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px;
  font-size: 50px;
  font-weight: 700;
  color: brown;
}
.user-info__name {
  font-size: 25px;
  position: relative;
}
.user-info__hiden-info {
  position: relative;
  padding: 10px;
  display: none;
}
.phone {
  position: absolute;
  right: 20px;
}
.mail {
  position: absolute;
  left: 20px;
}
.show {
  width: 50px;
  height: 50px;
  clip-path: polygon(0 0, 0% 100%, 99% 48%);
  background-color: rgb(62, 189, 148);
  position: absolute;
  right: -50px;
  top: 30%;
  display: none;
}
.header-name__extra-info {
  display: none;
}

.extra-info {
  font-size: 25px;
  height: 100%;
  background-color: rgb(62, 189, 148);
  display: flex;
  left: 620px;
  right: 0;
  display: none;
  position: absolute;
}
.extra-info__context {
  font-size: 25px;
}
.table2 {
  display: none;
}
