.container {
  width: 100%;
  display: flex;
}
table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
  position: relative;
}
td,
th {
  padding: 15px;
}
.user-info {
  background-color: aqua;
}
.user-info__name {
  position: relative;
}
.user-info__name::after {
  content: '';
  position: absolute;
  vertical-align: middle;
  left: 100%;
  border: 10px solid transparent;
  border-left: 10px solid rgb(84, 214, 143);
  top: 50%;
  transform: translate(0, -50%);
  display: none;
}
.user-info__name.showtriangle::after {
  display: block;
}

.user-info__hiden-info {
  display: flex;
  justify-content: space-between;
  display: none;
}

.header-name__extra-info {
  font-weight: bold;
  text-align: center;
  background-color: #fff;
  border-bottom: 1px solid black;
  padding: 15px;
  display: none;
}
.additional-container {
  box-sizing: border-box;
  border-right: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background-color: rgb(62, 189, 148);
  display: none;
}

.extra-info {
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  display: none;
}

.close {
  font-size: 30px;
  font-weight: 700;
  color: brown;
}
.extra-info__content {
  margin: 0em;
  padding: 0;
}
